*{
    background-color: #E5DADA;
    color: #002642;
    font-family: 'Roboto Condensed', sans-serif;
}

h1, h2 {
    color:#02040F; 
    margin: 1rem;
}

nav {
    position : fixed;
    top : 0rem; left : 50rem;
    padding: 1rem;
    border: 5px solid #E59500;
}

.list {
    padding: 1rem;
    border: 5px solid #E59500;
    margin: 1rem;
    margin-top: 5rem;
}

ul li {
    display : inline;
}

p, li, img {
    margin: 1rem;
}

img {
    height: 150px;
    width: 125px;
    float : left;
}


